<table>
  <thead>
  <tr>
    <th class="timestamp">When</th>
    <th class="url">URL</th>
    <th class="keywords">Keywords</th>
    <th class="delete"></th>
  </tr>
  </thead>
  <tbody>
  <% @logs.each_with_index do |log, index| %>
      <tr>
        <td class="timestamp" title="<%= log.timestamp %>"><%= time_ago_in_words(log.timestamp) %></td>
        <td class="url"><a href="<%= log.referer %>" title="<%= log.referer %>"><%= truncate log.referer %></a></td>
        <td class="keywords" title="<%= log.keywords %>">
	<% unless log.keywords.nil? %>
		<%= truncate log.keywords %>
	<% end %>
	</td>
        <td class="delete"><%= link_to "delete", {:action => :delete, :id => log._id}, {:confirm => "Delete", :method => :post} %></td>
      </tr>
  <% end %>
  </tbody>
</table>