
<aside>
  <h2>Prečo by som to mal používať?</h2>

  <p>
    V súčasnosti na proxy beží <%= link_to 'niekoľko projektov', { :action => 'projects' } %>, ktoré Ti pomôžu zlepšiť Tvoju prácu s webom. Jeden z projektov Ti pomôže pri vyhľadávaní použiť tie správne kľúčové slová, aby si to, čo hľadáš, našiel rýchlejšie. Ďalší zasa zefektívni navigáciu po stránke fakulty.
  </p>

  <h2>A čo moje súkromie?</h2>

  <p>
    O svoje súkromie sa báť nemusíš. Aby nami navrhované vylepšené surfovanie na webe mohlo fungovať, potrebujeme vedieť kúsok viac o Tebe a o Tvojich záujmoch. Preto zaznamenávame časť Tvojej aktivity na webe
    &mdash; adresu stránky na ktorej si bol spolu s časom návštevy. Tieto informácie spojíme s Tvojím náhodne vygenerovaným identifikátorom. Údaje sú anonymné, Tvoj číselný identifikátor k Tvojej osobe priradiť bez Tvojej pomoci nedokážeme.
  </p>
  <p>
    Proxy zaznamenáva iba navštívenú URL adresu, <strong>nezaznamenávame</strong> si samotný obsah správ, ktoré Tvoj prehliadač posiela do Internetu (napr. obsah formulárov). Ak si nastavíš proxy podľa našich inštrukcií, tak <strong>sa nikdy nepoužije</strong> na prístup k stránkam zabezpečeným protokolom https, teda k prihlasovacím formulárom alebo internet bankingu - na takéto stránky sa Tvoj prehliadač pripojí vždy priamo. Ak používaš prehliadač Firefox, môžeš si dokonca <%= link_to 'nastaviť stránky, na ktorých sa proxy nemá použiť', { :action => :privacy } %>.
  </p>

  <h2>Ako to funguje?</h2>
  <p>
    Ak máš chuť, môžeš si prečítať <%= link_to "viac o technológiách", {:action => :technologies} %>, na ktorých to celé beží a dostať sa až ku zdrojovým kódom všetkých aplikácií, ktoré zabezpečujú náš špeciálny proxy.
  </p>
</aside>

<h1>Vitajte na stránkach projektu Adaptívneho proxy servera</h1>

<p>
 Adaptívny proxy server je projekt, ktorý má za cieľ vytvoriť platformu pre personalizované, kolaboratívne surfovanie na webe
 a tým pádom platformu pre vyhodnocovanie niektorých bakalárskych, diplomových a dizertačných prác (najmä, ale nielen) zo skupiny
 <%= link_to "PeWe", "http://pewe.fiit.stuba.sk" %>.
</p>

<p>
  V tejto prvej verejnej fáze máme za cieľ odladiť implementáciu a konfiguráciu proxy servera a vytvoriť prvú dátovú sadu
  logov surfovania na webe (zaznamenávame čas, URLku a kľúčové slová). V tom nám môžeš pomôcť aj Ty. My Ti na oplátku pomôžeme <%= link_to "zefektívniť vyhľadávanie", :action => :projects, :anchor => "bifrost" %>, či <%= link_to "navigáciu po stránke fakulty", :action => :projects, :anchor => "webimp" %>.
</p>

<ol class="steps">
  <li><p><%= link_to "Nastav si proxy server", {:controller => :info, :action => :settings} %></p></li>
  <li><p><%= link_to "Nastav si svoj identifikátor, aby si mohol surfovať anonymne", {:controller => :info, :action => :user_agent} %></p></li>
  <li><p><%= link_to "Surfuj", "http://www.google.com" %></p></li>
  <li><p><%= link_to "Nechaj si posielať mailom novinky", {:controller => :emails, :action => :register}, :class => 'voluntary' %></p></li>
</ol>

<%= link_to 'Začni nastavením proxy >>', { :action => 'settings' }, :class => 'start_button' %>

<p class="lower">
  A potom, ak máš chuť
</p>

<ol class="steps">
  <li><p><%= link_to "Oznám nám chyby v správaní proxy servera, ak nejaké zaznamenáš", "http://nimbus.fiit.stuba.sk/redmine/projects/proxy/issues" %>.</p></li>
  <li><p><%= link_to "Nastav si svoj identifikátor aj na iných počítačoch (v práci, v škole)", { :controller => :patcher, :action => :download } %></p></li>
  <li><p><%= link_to "Pozri si aké údaje sme o Tebe zaznamenali, ak sa Ti niektoré nepáčia, tak ich zmaž", { :controller => :logs, :action => :list }%></p></li>
  <li><p><%= link_to "Pozri si svoj tagcloud pomocou služby wordle.net (presmeruje na java applet, takže ak nemáš java plugin, tak ani neskúšaj :) )", { :controller => :wordle, :action => :index }%></p></li>
</ol>
