
<aside>
  <h2>Prečo by som to mal používať?</h2>

  <p>
    V súčasnosti <%= link_to 'pripravujeme niekoľko projektov', { :action => 'projects' } %>, ktoré Ti pomôžu zlepšiť Tvoju prácu z Webom. Prvý z projektov Ti pomôže pri vyhľadávaní tak, že Ti pomôže použiť tie správne kľúčové slová, aby si to, čo hľadáš, našiel rýchlejšie. Druhý projekt Ti zasa pomôže lorem ipsum dolor.
  </p>
  <p>
    O svoje súkromie sa báť nemusíš. Aby tu popísané projekty mohli fungovať, potrebujeme vedieť viac o Tebe a o Tvojich záujmoch. Preto zaznamenávame Tvoju aktivitu na Webe -- jediná vec ktorú zapisujeme je adresa stránky na ktorej si bol a Tvoj náhodne vygenerovaný kód. Údaje sú anonymné, Tvoj číselný kód k Tvojej osobe priradiť nedokážeme. Ak si nastavíš proxy podľa našich inštrukcií, tak <strong>nebude použitá na prístup k zabezpečeným strákam (https), teda k prihlasovacím formulárom alebo internet bankingu</strong>.
  </p>
</aside>

<h1>Vitajte na stránkach projektu Adaptívneho proxy servera</h1>

<p>
 Adaptívny proxy server je projekt, ktorý má za cieľ vytvoriť platformu pre personalizované, kolaboratívne surfovanie na webe
 a tým pádom platformu pre vyhodnocovanie niektorých bakalárskych, diplomových a dizertačných prác (najmä) zo skupiny
 <%= link_to "PeWe", "http://pewe.fiit.stuba.sk" %>.
</p>

<p>
  V tejto prvej verejnej fáze máme za cieľ odladiť implementáciu a konfiguráciu proxy servera a vytvoriť prvú dátovú sadu
  logov surfovania na webe (zaznamenávame čas, URLku a kľúčové slová). V tom nám môžeš pomôcť aj Ty.
</p>

<ol class="steps">
  <li><p><%= link_to "Nastav si proxy server", {:controller => :info, :action => :settings} %></p></li>
  <li><p><%= link_to "Nastav si svoj identifikátor", {:controller => :info, :action => :user_agent} %></p></li>
  <li><p><%= link_to "Surfuj", "http://www.google.com" %></p></li>
  <li><p><%= link_to "Nechaj si posielať mailom novinky", {:controller => :emails, :action => :register}, :class => 'voluntary' %></p></li>
</ol>

<%= link_to 'Začni nastavením proxy &gt;&gt;', { :action => 'settings' }, :class => 'start_button' %>

<p class="clear">
  A potom, ak máš chuť
</p>

<ol class="steps">
  <li><p><%= link_to "Oznám nám chyby v správaní proxy servera, ak nejaké zaznamenáš", "http://nimbus.fiit.stuba.sk/redmine/projects/proxy/issues" %>.</p></li>
  <li><p><%= link_to "Nastav si svoj identifikátor aj na iných počítačoch (v práci, v škole)", { :controller => :patcher, :action => :download } %></p></li>
  <li><p><%= link_to "Pozri si aké údaje sme o Tebe zaznamenali, ak sa Ti niektoré nepáčia tak ich zmaž", { :controller => :logs, :action => :list }%></p></li>
</ol>
