<h1>Vitajte na stránkach projektu Adaptívneho proxy servera</h1>

<p>
 Adaptívny proxy server je projekt, ktorý má za cieľ vytvoriť platformu pre personalizované, kolaboratívne surfovanie na webe
 a tým pádom platformu pre vyhodnocovanie niektorých bakalárskych, diplomových a dizertačných prác (najmä) zo skupiny
 <%= link_to "PeWe", "http://pewe.fiit.stuba.sk" %>.
</p>

<p>
  V tejto, prvej verejnej, fáze máme za cieľ odladiť implementáciu a konfiguráciu proxy servera a vytvoriť prvú dátovú sadu
  logov surfovania na webe (zaznamenávame čas, URLku a kľúčové slová). V tom nám môžeš pomôcť aj Ty.
</p>

<ol class="steps">
  <li><p><%= link_to "Nastav si proxy server", {:controller => :info, :action => :settings} %></li></p>
  <li><p><%= link_to "Nastav si svoj identifikátor", {:controller => :info, :action => :user_agent} %></li></p>
  <li><p><%= link_to "Surfuj", "http://www.google.com" %></li></p>
</ol>

<%= link_to 'Začni nastavením proxy &gt;&gt;', { :action => 'settings' }, :class => 'start_button' %>

<p class="clear">
  A potom, ak máš chuť
</p>

<ol class="steps">
  <li><p><%= link_to "Oznám nám chyby v správaní proxy servera, ak nejaké zaznamenáš", "http://nimbus.fiit.stuba.sk/redmine/projects/proxy/issues" %>.</li></p>
  <li><p><%= link_to "Nastav si svoj identifikátor aj na iných počítačoch (v práci, v škole)", { :controller => :patcher, :action => :download } %></p></li>
  <li><p><%= link_to "Pozri si aké údaje sme o Tebe zaznamenali", { :controller => :logs, :action => :list }%></p></li>
</ol>
