<p>
  Na tejto podstránke nájdeš stručný prehľad technológií a podprojektov, ktoré zabezpečujú náš proxy
</p>

<p>
  Základom nášho proxy servera je <%= link_to "Rabbit proxy", "http://www.khelekore.org/rabbit/" %>, rýchly proxy server napísaný v JAVE (fakt rýchly, aj keď sa tomu ťažko uverí :)) My sme si tento proxáč upravili a dodali doň systém pluginov a služieb, ktorý umožňuje spracúvať dopyty klienta a odpovede servera cez dátovody a filtre.
</p>
<p>
  Táto (a ostatné) stránky tejto webovej aplikácie je urobená v <%= link_to "Ruby on Rails", "http://rubyonrails.org/" %>, výbornom webovom rámci napísanom v objektovom dynamickom jazyku <%= link_to "Ruby", "http://www.ruby-lang.org" %>.  
</p>
<p>
  Všetky kódy máme verzionované v <%= link_to "Gite", "http://git-scm.com/" %>, distribuovanom systéme pre manažment verzií súborov. Jednotlivé repositories si môžeš prezrieť <%= link_to "tu", @repositories_url %> (na prístup, potrebuješ univerzitný AIS login)   
</p>
