<p>
  This page lists technologies and subprojects, supporting the proxy.
</p>

<p>
  The basis of our proxy is <%= link_to "Rabbit proxy", "http://www.khelekore.org/rabbit/" %>, a fast proxy server written in Java (really fast, although that's hard to believe :)). We've modified the code and implemented a system of plugins and services, which allows to process the client request and server response using pipes and filters.
</p>
<p>
  This (and all others) pages of this web application were made using <%= link_to "Ruby on Rails", "http://rubyonrails.org/" %> a great web framework written in a dynamic language <%= link_to "Ruby", "http://www.ruby-lang.org" %>.
</p>
<p>
  All source codes are versioned in <%= link_to "Git", "http://git-scm.com/" %>, a distributed system for source code version management. All repositories are available <%= link_to "here", @repositories_url %> (you'll need university IS login to browse).
</p>
