<aside>
  <h2>Privacy</h2>

  <p>
    The only thing we know about you is your random unique identifier which we assigned to you and which you are sending us with each page view and the pages which are linked to this identifier (pages you visit). If you don't want us to log some of your activity, you can <%= link_to 'set it up', :action => 'privacy' %> if you are using <%= link_to 'Firefox', 'http://mozilla.com/firefox' %>. You can also <%= link_to 'delete your records', :controller => :logs, :action => :list %> from our database.
  </p>
</aside>

<p>
  Our proxy server uses technology called <i>Evercookie</i> to store your anonymous, random identifier in your computer, so we can link pages you visit to this identifier. This helps us to optimalize your browsing requests and finally allows us to make your browsing more comfortable.
</p>



<script type="text/javascript">
  function setEverCookie(uid){
    var ec = new evercookie();
    ec.set('__peweproxy_uid',uid.split('=')[1]);
    location.reload(true);
  }
</script>

<a href="#" onclick="setEverCookie('<%= @uid %>'); return false" class="button handle">Generate and store my identifier</a>
<a href="#" onclick="setEverCookie('='); <% @uid=nil %>return false" class="button handle">Remove evercookie from my computer</a>


<div class="clear"></div>

<div class='navigation'>
  <%= link_to '&lt;&lt; Proxy configuration', { :action => 'settings' }, :class => 'back_button' %>
  <a href="http://www.google.com" class="next_button">Browse! &gt;&gt;</a>
</div>
