<aside>
  <h2>A čo moje súkromie?</h2>

  <p>
    V pilotnej prevádzke je jedinou informáciou, ktorú o Tebe vieme, číslo (ktoré sme Ti priradili a ktoré nám posielaš)
    a stránky na ktoré pod týmto číslom chodíš. Ak nechceš aby sme zaznamenávali Tvoje
    návštevy na niektorých stránkach, môžeš si to samozrejme <%= link_to "nastaviť", {:controller => :info, :action => :privacy} %>
      (aktuálne iba pre prehliadač <%= link_to "firefox", "http://www.mozilla.com/firefox"  %>). Rovnako môžeš <%= link_to "nenávratne zmazať všetky alebo len niektoré záznamy o sebe", {:controller => :logs, :action => :list} %> z našej databázy.
  </p>
</aside>

<p>
  Náš proxy server si pomocou technológie <i>Evercookie</i> uloží v tvojom počítači náhodne vygenerovaný, anonymný identifikátor, ku ktorému môžeme priraďavať stránky, ktoré si navštívil. Vďaka tomu môžme optimalizovať požiadavky, ktoré zadávaš, a v konečnom dôsledku ti tak pomáhame surfovať pohodlnejšie.
</p>


<script type="text/javascript">
  function setEverCookie(uid){
    var ec = new evercookie();
    ec.set('__peweproxy_uid',uid.split('=')[1]);
    location.reload(true);
  }
</script>

<a href="#" onclick="setEverCookie('<%= @uid %>'); return false" class="button handle">Vygeneruj a zapamätaj si môj identifikátor</a>
<a href="#" onclick="setEverCookie('='); <% @uid=nil %>return false" class="button handle">Vymaž indetifikátor z môjho počítača</a>

<div class="clear"></div>

<div class='navigation'>
  <%= link_to '&lt;&lt; Nastavenie proxy', { :action => 'settings' }, :class => 'back_button' %>
  <a href="http://www.google.com" class="next_button">Surfuj! &gt;&gt;</a>
</div>
