<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
  <title><%= @title or 'Adaptive Proxy' %></title>
  <link rel="alternate" type="application/atom+xml" title="PeWe Proxy News" href="news.xml"/>
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.0r4/build/reset/reset-min.css">
  <%= stylesheet_link_tag 'style' %>
  <%= javascript_include_tag 'jquery.js' %>
  <%= javascript_include_tag 'rails.js' %>
  <%= javascript_include_tag 'foldable.js' %>
  <%= javascript_include_tag 'swfobject-2.2.min.js' %>
  <%= javascript_include_tag 'evercookie.js' %>
  <script>
      document.createElement("header");
      document.createElement("section");
      document.createElement("footer");
      document.createElement("aside");
  </script>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-19210853-1']);
    _gaq.push(['_trackPageview']);

    (function() {
     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();

   </script>
</head>
<body>

<header>
  <%= link_to raw('Adaptive Proxy &beta;'), proxy_base_url %>
  <div id="rsslang">
    <div id="lang">
      <%= link_to 'en', url_for(:locale => :en) %> | <%= link_to 'sk', url_for(:locale => :sk) %>
    </div>
    <a href="/news.xml" title="Subscribe to Atom news">
      <%= image_tag 'feed.png', :class => 'feed', :title => 'Atom news' %>
    </a>
	<%= link_to image_tag("broken_page.png", :border=>0, :class=>'feed', :title=>'Report broken page'), :controller => :broken_page, :action => 'reporter'%>
  </div>
</header>

<section>
  <% if session[:has_uid] && request.env['HTTP_VIA'] =~ /AdaptiveProxy/ %>
      <div class="setup info">
        Your proxy setup is complete. Happy <a href="http://www.google.com" title="Google">browsing</a>
      </div>
  <% else %>
      <div class="setup warning">
        <% if request.env['HTTP_VIA'] =~ /AdaptiveProxy/ %>
            Your proxy setup is complete, but you also need to
            <%= link_to 'get your anonymous, random identifier', :controller => :info, :action => :identifier %>.
        <% elsif session[:has_uid] %>
            Your identifier configuration is complete, but you are not
            <%= link_to 'browsing via proxy', :controller => :info, :action => :settings %>.
        <% else %>
            Your proxy configuration is not complete.
            Make sure <%= link_to 'you are browsing via proxy', :controller => :info, :action => :settings %>
            and <%= link_to 'get your anonymous, random identifier', :controller => :info, :action => :identifier %>.
        <% end %>
      </div>
  <% end %>

  <% if flash[:notice] %>
      <div class="setup info">
        <%= flash[:notice] %>
      </div>
  <% end %>
  <% if flash[:error] %>
      <div class="setup warning">
        <%= flash[:error] %>
      </div>
  <% end %>

  <%= yield %>
</section>

<footer>
  &nbsp;
</footer>

</body>
</html>
