<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
  <title><%= @title or 'Adaptive Proxy' %></title>
  <link rel="alternate" type="application/atom+xml" title="PeWe Proxy News" href="news.xml"/>
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.0r4/build/reset/reset-min.css">
  <%= stylesheet_link_tag 'style' %>
  <%= javascript_include_tag 'jquery-1.3.2.min.js' %>
  <%= javascript_include_tag 'foldable.js' %>
  <%= javascript_include_tag 'swfobject-2.2.min.js' %>
  <%= javascript_include_tag 'evercookie.js' %>
  <script>
      document.createElement("header");
      document.createElement("section");
      document.createElement("footer");
      document.createElement("aside");
  </script>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-19210853-1']);
    _gaq.push(['_trackPageview']);

    (function() {
     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();

   </script>
</head>
<body>

<header>
  <%= link_to raw('Adaptive Proxy &beta;'), root_url(:locale => I18n.locale) %>
  <div id="rsslang">
    <div id="lang">
      <a href="/en" title="English">en</a> | <a href="sk" title="Slovensky">sk</a>
    </div>
    <a href="/news.xml" title="Prihlásiť sa na odber noviniek"><img src="/images/feed.png" title="Atom feed" class="feed"/></a>
  </div>
</header>

<section>
  <% if session[:has_uid] && request.env['HTTP_VIA'] =~ /AdaptiveProxy/ %>
      <div class="setup info">
        Tvoje nastavenie proxy je kompletné. Môžeš začať <a href="http://www.google.com" title="Google">surfovať</a>
      </div>
  <% else %>
      <div class="setup warning">
        <% if request.env['HTTP_VIA'] =~ /AdaptiveProxy/ %>
            Proxy máš už nastavenú, ešte
            si <%= link_to 'vygeneruj anonymný identifikátor', :controller => :info, :action => :user_agent %>.
        <% elsif session[:has_uid] %>
            Máš správne nastavený identifikátor, ale
            nemáš <%= link_to 'zapnutú proxy', :controller => :info, :action => :settings %>.
        <% else %>
            Nastavenie Proxy nie je kompletné. Uisti sa že
            máš <%= link_to 'proxy zapnuté', :controller => :info, :action => :settings %> a potom
            si <%= link_to 'vygeneruj anonymný identifikátor', :controller => :info, :action => :user_agent %>.
        <% end %>
      </div>
  <% end %>

  <% if flash[:notice] %>
      <div class="setup info">
        <%= flash[:notice] %>
      </div>
  <% end %>
  <% if flash[:error] %>
      <div class="setup warning">
        <%= flash[:error] %>
      </div>
  <% end %>

  <%= yield %>
</section>

<footer>
  &nbsp;
</footer>

</body>
</html>
